.message, .redirect {
    position: absolute;
    transform: translate(-50%, -50%);
    border: 3px solid #ff0e13;
    border-radius: 10px;
    background-color: #ffdf41;
    box-shadow: 0 0 10px #3b3b3b;
    color: #3e52c9;
    padding: 10px;
}
.message {
    font-size: 60px;
    top: 30%;
    left: 50%;
}
.redirect {
    font-size: 20px;
    top: 15%;
    left: 50%;
}