<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lidl Giphy</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/gifs.css">
    <link rel="stylesheet" href="/public/css/searchBox.css">
    <link rel="stylesheet" href="/public/css/button.css">
</head>
<body>
<div class="header-container">
    <h1 class="header-title" onclick="window.location.href = '/'">LIDL GIPHY</h1>
    <button class="get-random" onclick="window.location.href = '/random'">
        Get Random
    </button>
    <form class="search-box" method="POST" action="/search">
        <label for="search"></label>
        <input type="text" id="search" name="search" placeholder="Search">
        <button type="submit">Search</button>
    </form>
</div>
<div class="gifs">
    {% for gif in gifs %}
        <div class="gif">
            <div class="img-container">
                <img src="{{ gif.getUrl() }}" alt="">
            </div>
            <div class="gif-title">
                {{ gif.getTitle() }}
            </div>
        </div>
    {% endfor %}
</div>
</body>
</html>